.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid red;
  height: 800px;
  width: 100%;
}

.image-container {
  margin-bottom: 50px;
}

.address-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.address-label {
  margin-right: 20px;
}

.button-container {
  margin-bottom: 50px;
}

.landmark-label {
  margin-right: 20px;
}

.form-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
}
